
.app_wrapper{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  height: 550px;
  width: 400;
 
  box-shadow: 1px 5px 10px rgb(99, 98, 98);
  border-radius: 20px;
  margin: 100px 500px;

}


.colorBtnBlue{
  background-color: rgb(36, 131, 255);
}
.colorBtnGreen{
  background-color: green;
}